.card1 {
  width: 100%;
  height:100%;
  border-radius: 0px;
  /* border: 1px solid #d3d5d8; */
  transition: 0.4s;
  overflow: hidden;
  background-position: center;
}

.cardBox h4 {
  font-size: 20px;
}


.card1 img {
  width: 100%;
  transition: 20s;
}


.card1:hover {
  cursor: pointer;
}

.card1:hover img {
  transform: scale(3.1)!important;
}

.cardBox h4 {
  text-decoration: none;
  color: var(--text1);
}

/* ===========Media========= */
@media only screen and (max-width: 900px) {

  .cardBox h4 {
    font-size: 19px;
  }

}

@media only screen and (max-width: 600px) {

  .cardBox h4 {
    font-size: 15px;
  }

}

/* ===============card2===================================================== */
.card2 {
  /* width: 210px; */
  min-height: 250px;
  border-radius: 10px;
  /* box-shadow: 0px 1px 1px #c7c8c5; */
  transition: 0.4s;
  overflow: hidden;
  background: #fff;
  background-position: center;
}

.card2:hover {
  cursor: pointer;
  /* box-shadow: 0px 1px 5px #b7c2a9; */
}

.imageBox {
  width: 100%;
  /* max-height: 150px; */
  overflow: hidden;
}

.card2 img {
  width: 100%;
  transition: 1s;
}

.card2:hover img {
  transform: scale(1.1);
}

.card2 h6 {
  text-decoration: none;
  color: var(--text1);
  font-size: 14px;
  min-height: 30px;
}

.card2 .rating {
  color: #ff6f10;
}

.card2 p {
  font-size: 13px;
  color: #353535;
}

.card2 h4 {
  color: #201f1f;
  font-size: 20px;
}

.card2 h5 {
  color: #0ab58d;
  font-size: 20px;
}

.card2 .cardBox Link {
  /* text-decoration: none; */
}

/* ========================================== */

.card3 {
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid #e4e4e4;
  background: #ffffff;
  margin-bottom: 4px;
  transition: .3s;
}

.card3 img {
  width: 40px;
}

.card3 h4 {
  font-size: 14px;
  font-weight: bold;
}

.card3 h6 {
  font-size: 13px;
}


.card3 h5 {
  font-size: 12px;
  color: var(--text1);
}

.card3:hover {
  width: 100%;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 5px #06eec7; */
}


/* =====Image===card========== */
.mainImageBox {
  overflow: hidden;
  border-radius: 7px;
  padding: 0px;
}

.mainImage {
  width: 100%;
}

.card4 {
  width: 100%;
  height: auto;

}

.card4 .cardInnerBox {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 2px 2px #ccc;
  border-radius: 15px;
  background: #fff;
}

.card4 .cardInnerBox:hover {
  box-shadow: 0px 2px 12px #ccc;
}

.card4 .cardInnerBox img {
  margin: 10px;
  width: 50px;
}

.card4 .cardInnerBox h4 {
  margin: 10px;
  font-size: 17px;
  color: #0ab58d;
}


/* ===========Media========= */
@media only screen and (max-width: 900px) {
  .card2 {
    /* width: 150px; */
    min-height: 170px;
  }

  .card2 h6 {
    font-size: 13px;
  }

  .card2 h4 {
    font-size: 16px;
  }

  .card2 p {
    font-size: 12px;
  }

}

@media only screen and (max-width: 600px) {

  .card2 {
    /* width: 170px; */
    min-height: 150px;
  }


  .card4 .cardInnerBox {
    padding: 5px;
    border-radius: 5px;
  }

  .card4 .cardInnerBox img {
    margin: 5px;
    width: 30px;
  }

  .card4 .cardInnerBox h4 {
    margin: 5px;
    font-size: 14px;
    color: #0592e4;
  }


}